.nav-item {
  height: 5rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  cursor: pointer;
}

.nav-item:hover {
  background: rgba(255, 255, 255, 0.05);
}

.nav-item-selected {
  background: var(--primary);
  border: none;
}

.nav-item-selected:hover {
  background-color: #0b5ecda0;
}

.select-container {
  height: 4rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  cursor: pointer;
}

.select-container:hover {
  background: rgba(255, 255, 255, 0.05);
}
