@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0b5ecd;
  --color-dark: #111923;
  --color-darker: #112034;
  --color-background-dark: #121212;
  --color-text-base: #d4c2ff;

  --color-white: #fff;
  --color-black: #111;

  font-size: 62.5%;
}

* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: Nunito;
  font-size: 1.8rem;
}
